langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
Pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
groq
cassio
beautifulsoup4
langchain-groq